@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

:root {
  --VeryDarkBlue: hsl(243, 87%, 12%);
  --DesaturatedBlue: hsl(238, 22%, 44%);

  --BrightBlue: hsl(224, 93%, 58%);
  --ModerateCyan: hsl(170, 45%, 43%);

  --LightGrayishBlue: hsl(240, 75%, 98%);
  --LightGray: hsl(0, 0%, 75%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: bordre-box;
}

body {
  width: 90%;
  margin: 0 auto;
}

main {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  width: 100%;
}

.head object {
  width: 175px;
  height: auto;
}

.head li {
  list-style: none;
  display: inline-block;
}

.head a {
  margin-left: 3rem;
  text-decoration: none;
  color: var(--DesaturatedBlue);
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 4rem 0;
}

.landing-left {
  flex-basis: 45%;
  font-family: "Raleway", sans-serif;
}

.landing-left h1 {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--VeryDarkBlue);
  margin-bottom: 1.4rem;
  line-height: 3.5rem;
}

.landing-left-p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: var(--VeryDarkBlue);
  margin-bottom: 1.4rem;
}

.landing-right {
  flex-basis: 55%;
  width: 100%;
}

.landing-right img {
  width: 35rem;
  margin-left: 15%;
}

#landing-email {
  border: 1px solid #000;
  border-radius: 3px;
  padding: 10px 15px;
  width: 15rem;
  height: 1rem;
  margin-right: 1rem;
  outline: none;
}

.landing-email::placeholder {
  color: var(--LightGray);
}

#landing-form-msg {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  display: none;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  border: none;
  border-radius: 3px;
  width: 11rem;
  height: 2.35rem;
  background-color: var(--BrightBlue);
  padding: 5px 13px;
  text-align: center;
  color: #fff;
  margin-top: 1rem;
}

@media (max-width: 1175px) {
  body {
    width: 90%;
  }

  .head {
    margin-bottom: 5rem;
  }

  .head a {
    margin-left: 2rem;
  }

  .landing {
    flex-direction: column-reverse;
    text-align: center;
    margin: 0 auto;
  }

  .landing-left p {
    margin-bottom: 2.5rem;
  }

  .landing-right {
    margin-bottom: 3rem;
  }

  .landing-right img {
    width: 100%;
    margin: 0;
  }

  .btn {
    width: 17.3rem;
    height: 2.5rem;
    margin: 0 atuo;
    margin-top: 1.5rem;
    margin-right: 0.68rem;
  }
}
